@charset "UTF-8";
/* refund-cluase.html 退款协议页 */
.refund-cluase-body {
  background-color: #f8f8f8;
}

.refund-cluase {
  font-size: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.refund-cluase .refund-detail {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
  background-color: #fff;
  border-radius: 0.1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.refund-cluase .refund-detail h2 {
  font-size: 0.3rem;
  text-align: center;
  padding: .2rem 0 .2rem;
}

.refund-cluase .refund-detail p {
  line-height: 0.35rem;
  margin-bottom: .08rem;
}

.refund-cluase .refund-detail .agree-rule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: .3rem 0;
}

.refund-cluase .refund-detail .agree-rule i {
  margin-right: .1rem;
  font-size: .3rem;
  color: #ef7ca7;
}

/* 底栏 */
.bottom-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 0.8rem;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-btn-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  color: #e14c85;
  font-size: .26rem;
}

.bottom-btn-wrapper a:last-child {
  color: #fff;
  background-color: #ee7ca6;
}

/* refund-cluase.html 退款协议页 结束 */
/* refund-goods.html 退款协议页 */
.refund-goods {
  font-size: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.refund-goods .refund-stage {
  width: 100%;
  padding-bottom: .2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-goods .refund-size-wrapper {
  width: 5.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
}

.refund-goods .refund-size-wrapper .name {
  font-size: 0.26rem;
  color: #737373;
  padding: .2rem 0 .1rem;
}

.refund-goods .refund-size-wrapper .size-detail {
  width: 100%;
}

.refund-goods .refund-size-wrapper .size-detail .each-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: .8rem;
}

.refund-goods .refund-size-wrapper .size-detail .each-line .color {
  width: .6rem;
}

.refund-goods .refund-size-wrapper .size-detail .each-line .size {
  width: .6rem;
}

.refund-goods .refund-size-wrapper .size-detail .each-line .amount1, .refund-goods .refund-size-wrapper .size-detail .each-line .amount2 {
  width: 1rem;
}

.refund-goods .refund-size-wrapper .size-detail .each-line input {
  border: 1px solid #ee7ca6;
  height: .5rem;
  font-size: 0.24rem;
  padding: .05rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.refund-goods .refund-size-wrapper .size-detail .each-line.first {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: .6rem;
  color: #737373;
}

/* refund-goods.html 退款协议页 结束 */
/* refund-send.html 退款协议页 结束 */
.refund-send {
  font-size: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.refund-send .refund-stage {
  width: 100%;
  padding-bottom: .2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-send .refund-size-wrapper {
  width: 5.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
}

.refund-send .refund-size-wrapper .name {
  font-size: 0.26rem;
  color: #737373;
  padding: .2rem 0 .1rem;
}

.refund-send .refund-size-wrapper .size-detail {
  width: 100%;
  border-top: 10px solid #f8f8f8;
  border-bottom: 10px solid #f8f8f8;
}

.refund-send .refund-size-wrapper .size-detail .each-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: .4rem;
  color: #737373;
}

.refund-send .refund-size-wrapper .size-detail .each-line .color {
  width: .6rem;
}

.refund-send .refund-size-wrapper .size-detail .each-line .size {
  width: .6rem;
}

.refund-send .refund-size-wrapper .size-detail .each-line .amount1, .refund-send .refund-size-wrapper .size-detail .each-line .amount2 {
  width: 1rem;
}

.refund-send .refund-size-wrapper .size-detail .each-line.first {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: .5rem;
  color: #737373;
}

.refund-send .refund-size-wrapper .address {
  padding: .2rem 0;
  border-bottom: 10px solid #f8f8f8;
}

.refund-send .refund-size-wrapper .address p {
  padding-bottom: .15rem;
}

.refund-send .refund-size-wrapper .address #target {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.refund-send .refund-size-wrapper .address #target select {
  width: 32%;
  font-size: 0.22rem;
  height: .4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .03rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-send .refund-size-wrapper .address textarea {
  width: 100%;
  height: .9rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: .2rem 0 0;
  padding: .05rem;
  font-size: 0.22rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-send .refund-size-wrapper .corp-address {
  padding: .2rem 0;
  border-bottom: 10px solid #f8f8f8;
}

.refund-send .refund-size-wrapper .corp-address p {
  line-height: 0.35rem;
}

.refund-send .refund-size-wrapper .logistics {
  padding: .2rem 0;
}

.refund-send .refund-size-wrapper .logistics .title {
  padding-bottom: .1rem;
}

.refund-send .refund-size-wrapper .logistics .add-one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ee7ca6;
  height: .5rem;
  border-radius: .05rem;
  color: #fff;
  margin-bottom: .2rem;
}

.refund-send .refund-size-wrapper .logistics .add-one i {
  margin-right: .1rem;
  font-size: .3rem;
}

.refund-send .refund-size-wrapper .logistics ul li {
  margin-bottom: .2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.refund-send .refund-size-wrapper .logistics ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #9e9e9e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
}

.refund-send .refund-size-wrapper .logistics ul li i {
  position: absolute;
  right: .1rem;
  top: .1rem;
  color: #9e9e9e;
  font-size: .3rem;
}

.logistics-layer-content {
  color: #1f1f1f;
  padding: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.24rem;
}

.logistics-layer-content .fill-one {
  margin: .2rem 0 .4rem;
}

.logistics-layer-content .fill-one div {
  height: .6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logistics-layer-content .fill-one div input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: .4rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 0.24rem;
  padding: .1rem;
}

.logistics-layer-content .confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logistics-layer-content .confirm input {
  color: #fff;
  background-color: #ee7ca6;
  font-size: 0.24rem;
  padding: .05rem .3rem;
  border-radius: .03rem;
  cursor: pointer;
}

/* refund-send.html 退款协议页 结束 */
/* refund-detail.html 退款详情页 */
.refund-detail {
  font-size: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.refund-detail .refund-status {
  width: 100%;
  padding-bottom: .2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-detail .refund-size-wrapper {
  width: 5.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
}

.refund-detail .refund-size-wrapper .order-no {
  font-size: 0.26rem;
  color: #737373;
  font-weight: bold;
  padding: .2rem 0 .1rem;
}

.refund-detail .refund-size-wrapper .name {
  font-size: 0.26rem;
  color: #737373;
  padding: .2rem 0 .1rem;
}

.refund-detail .refund-size-wrapper .size-detail {
  width: 100%;
  border-top: 10px solid #f8f8f8;
  border-bottom: 10px solid #f8f8f8;
}

.refund-detail .refund-size-wrapper .size-detail .each-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: .4rem;
  color: #737373;
}

.refund-detail .refund-size-wrapper .size-detail .each-line .color {
  width: .6rem;
}

.refund-detail .refund-size-wrapper .size-detail .each-line .size {
  width: .6rem;
}

.refund-detail .refund-size-wrapper .size-detail .each-line .amount1, .refund-detail .refund-size-wrapper .size-detail .each-line .amount2 {
  width: 1rem;
}

.refund-detail .refund-size-wrapper .size-detail .each-line.first {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: .5rem;
  color: #737373;
}

.refund-detail .refund-size-wrapper .address {
  padding: .2rem 0;
  border-bottom: 10px solid #f8f8f8;
}

.refund-detail .refund-size-wrapper .address p {
  line-height: 0.35rem;
}

.refund-detail .refund-size-wrapper .corp-address {
  padding: .2rem 0;
  border-bottom: 10px solid #f8f8f8;
}

.refund-detail .refund-size-wrapper .corp-address p {
  line-height: 0.35rem;
}

.refund-detail .refund-size-wrapper .logistics {
  padding: .2rem 0;
}

.refund-detail .refund-size-wrapper .logistics .title {
  padding-bottom: .1rem;
}

.refund-detail .refund-size-wrapper .logistics ul li {
  margin-bottom: .2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.refund-detail .refund-size-wrapper .logistics ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #9e9e9e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
}

/* refund-detail.html 退款详情页 结束 */
/* refund-lists.html 退款详情页 结束 */
.refund-lists {
  padding-bottom: 1rem;
}

.refund-lists ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: .3rem;
  padding-bottom: .1rem;
}

.refund-lists ul li {
  width: 5.8rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: .1rem;
  margin-bottom: .3rem;
}

.refund-lists ul li a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
  position: relative;
}

.refund-lists ul li a div p {
  margin-bottom: .06rem;
  line-height: 0.35rem;
}

.refund-lists ul li a i {
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
}

.refund-lists ul li.waiting a i {
  background-image: url("../img/待审核.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.refund-lists ul li.checking a i {
  background-image: url("../img/审核中.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.refund-lists ul li.sent a i {
  background-image: url("../img/已发货.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.refund-lists ul li.finish a i {
  background-image: url("../img/已完成.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/* refund-lists.html 退款详情页 结束 */
/* rate-index.html 评分首页页  */
.rate-index {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.rate-index ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: .3rem;
  padding-bottom: .1rem;
}

.rate-index ul li {
  width: 5.8rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: .1rem;
  margin-bottom: .3rem;
}

.rate-index ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem;
}

.rate-index ul li a .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rate-index ul li a .user-info img {
  width: .6rem;
  height: .6rem;
  margin-right: .2rem;
}

.rate-index ul li a i {
  font-size: .3rem;
}

/* rate-index.html 评分首页页 结束 */
/* rate-now.html 我要评分页  */
.rate-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.rate-now .user-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5rem 0 .4rem;
  background-image: url("../img/user-info-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.rate-now .user-info img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid #fef7f9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: .2rem;
  border-radius: .05rem;
}

.rate-now .user-info span {
  font-size: .25rem;
  margin-top: .2rem;
  color: #fff;
}

.rate-now .rate-warpper {
  background-color: #f7f5f5;
  width: 6rem;
  margin: .2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rate-now .rate-warpper > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: .06rem 0;
}

.rate-now .rate-warpper > div p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .06rem;
  font-size: .22rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rate-now .rate-warpper > div p.left {
  width: 2rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.rate-now .rate-warpper > div input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rate-now .rate-warpper > div:last-child {
  border-bottom: none;
}

.rate-now .rate-warpper .title {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* rate-now.html 我要评分页 结束 */
/* rate-lists.html 我要评分页  */
.rate-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .23rem;
  padding-bottom: 1rem;
}

.rate-lists .upload-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .4rem .7rem .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rate-lists .upload-wrapper .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: .3rem 0 .1rem;
}

.rate-lists .upload-wrapper .name input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: .1rem;
  font-size: .23rem;
}

.rate-lists .upload-wrapper .upload {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.rate-lists .upload-wrapper .upload label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rate-lists .upload-wrapper .upload label img {
  width: 100%;
}

.rate-lists .rate-contents {
  width: 100%;
  background-color: #f5f5f5;
}

.rate-lists .rate-contents .total {
  text-align: center;
  padding: .2rem 0 .1rem;
}

.rate-lists .rate-contents .total span {
  color: #ee7ca6;
  font-size: .3rem;
}

.rate-lists .rate-contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: .2rem 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rate-lists .rate-contents ul li {
  width: 6.2rem;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #fff;
  margin-bottom: .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .1rem;
}

.rate-lists .rate-contents ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
}

.rate-lists .rate-contents ul li a .user-name {
  width: 1.7rem;
  margin-top: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.rate-lists .rate-contents ul li a .user-name img {
  width: .5rem;
  height: .5rem;
}

.rate-lists .rate-contents ul li a .user-name span {
  padding-left: .1rem;
  font-size: .23rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rate-lists .rate-contents ul li a .score-details {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.2rem;
}

.rate-lists .rate-contents ul li a .score-details p {
  line-height: .35rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #9e9e9e;
}

.rate-lists .rate-contents ul li a .score-details p.left {
  width: 2rem;
}

.rate-lists .rate-contents ul li a .score-details p .score {
  color: #ee7ca6;
}

/* rate-lists.html 我要评分页 结束 */
