@charset "UTF-8";
/* material.html 素材中心页 */
.m-material {
  /*搜索框*/
}

.m-material .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.m-material .top-nav img {
  width: 100%;
}

.m-material .top-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #000000;
}

.m-material .top-nav ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.m-material .top-nav ul li a {
  width: 100%;
  color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem 0;
  font-size: .22rem;
}

.m-material .top-nav ul li a.active {
  font-weight: bold;
}

.m-material .search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .15rem .3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.m-material .search-wrapper span.title {
  font-size: .24rem;
}

.m-material .search-wrapper > div {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .15rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.m-material .search-wrapper > div input {
  font-size: 0.22rem;
  height: .5rem;
  width: 3.5rem;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .05rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.m-material .search-wrapper > div i {
  font-size: .3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: .4rem;
  height: .4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9e9e9e;
}

.m-material .each-nav-contents {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: .3rem;
}

.m-material .each-nav-contents.poster ul div {
  background-color: #f3516a;
}

.m-material .each-nav-contents.colleage ul div {
  background-color: #e7b28b;
}

.m-material .each-nav-contents.video ul div {
  background-color: #15bcc9;
}

.m-material .each-nav-contents.photo ul div {
  background-color: #2836b2;
}

.m-material .each-nav-contents > img {
  width: 100%;
  margin: .2rem 0;
}

.m-material .each-nav-contents ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.m-material .each-nav-contents ul li {
  width: 50%;
  padding: .06rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .1rem;
}

.m-material .each-nav-contents ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.m-material .each-nav-contents ul li a > img {
  width: 100%;
  border-top-left-radius: .05rem;
  border-top-right-radius: .05rem;
}

.m-material .each-nav-contents ul li a > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
  background-color: #6d2eaa;
  color: #fff;
  border-bottom-left-radius: .05rem;
  border-bottom-right-radius: .05rem;
}

.m-material .each-nav-contents ul li a > div i {
  font-size: .3rem;
}

/* material.html 素材中心页 结束 */
/* material-sub.html 二级素材中心页 */
.m-material-sub {
  /*搜索框*/
}

.m-material-sub .search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .15rem .3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.m-material-sub .search-wrapper span.title {
  font-size: .24rem;
}

.m-material-sub .search-wrapper > div {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .15rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.m-material-sub .search-wrapper > div input {
  font-size: 0.22rem;
  height: .5rem;
  width: 3.5rem;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .05rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.m-material-sub .search-wrapper > div i {
  font-size: .3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: .4rem;
  height: .4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9e9e9e;
}

.m-material-sub .each-nav-contents {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: .3rem;
}

.m-material-sub .each-nav-contents.item .subject-poster {
  background-image: url("../img/material-item.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.m-material-sub .each-nav-contents.item ul div {
  background-color: #6d2eaa;
}

.m-material-sub .each-nav-contents.poster .subject-poster {
  background-image: url("../img/material-poster.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.m-material-sub .each-nav-contents.poster ul div {
  background-color: #f3516a;
}

.m-material-sub .each-nav-contents.colleage .subject-poster {
  background-image: url("../img/material-colleage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.m-material-sub .each-nav-contents.colleage ul div {
  background-color: #e7b28b;
}

.m-material-sub .each-nav-contents.video .subject-poster {
  background-image: url("../img/material-video.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.m-material-sub .each-nav-contents.video ul div {
  background-color: #15bcc9;
}

.m-material-sub .each-nav-contents.photo .subject-poster {
  background-image: url("../img/material-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.m-material-sub .each-nav-contents.photo ul div {
  background-color: #2836b2;
}

.m-material-sub .each-nav-contents .subject-poster {
  width: 5.9rem;
  height: 1.4rem;
  margin: .2rem 0;
}

.m-material-sub .each-nav-contents ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.m-material-sub .each-nav-contents ul li {
  width: 50%;
  padding: .06rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .1rem;
}

.m-material-sub .each-nav-contents ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.m-material-sub .each-nav-contents ul li a > img {
  width: 100%;
  border-top-left-radius: .05rem;
  border-top-right-radius: .05rem;
}

.m-material-sub .each-nav-contents ul li a > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
  background-color: #6d2eaa;
  color: #fff;
  border-bottom-left-radius: .05rem;
  border-bottom-right-radius: .05rem;
}

.m-material-sub .each-nav-contents ul li a > div i {
  font-size: .3rem;
}

.m-material-sub .cur-lists-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: .1rem .3rem;
}

.m-material-sub .cur-lists-wrapper li {
  width: 100%;
  padding: .25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.m-material-sub .cur-lists-wrapper li:last-child {
  border-bottom: 0 none;
}

.m-material-sub .cur-lists-wrapper li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.m-material-sub .cur-lists-wrapper li a img {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: .05rem;
}

.m-material-sub .cur-lists-wrapper li a .info-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .2rem;
  padding-right: .1rem;
}

.m-material-sub .cur-lists-wrapper li a .info-wrapper .title {
  font-size: .26rem;
  font-weight: bold;
  line-height: .35rem;
  height: .72rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: .3rem;
}

.m-material-sub .cur-lists-wrapper li a .info-wrapper .date-public {
  color: #9e9e9e;
}

/* material-sub.html 二级素材中心页 结束 */
/* XX.html 某某页 */
/* XX.html 某某页 结束 */
/* XX.html 某某页 */
/* XX.html 某某页 结束 */
/* XX.html 某某页 */
/* XX.html 某某页 结束 */
