@charset "UTF-8";
/* refund-index.html 退保证金页 */
.refund-index {
  padding-bottom: 2rem;
}

.bottom-refund-index {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom-refund-index a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f384ad;
  font-size: .26rem;
  padding: .15rem .6rem;
  border-radius: 1rem;
  color: #fff;
}

/* refund-index.html 退保证金页 结束 */
/* refund-fill.html 退保证金原因及信息填写页 */
.refund-fill {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.6;
}

.refund-fill .reason-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: .3rem;
  padding-top: .5rem;
}

.refund-fill .reason-wrapper h2 {
  color: #9e9e9e;
  margin-bottom: .1rem;
}

.refund-fill .reason-wrapper textarea {
  width: 100%;
  height: 1.5rem;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  outline: none;
  padding: .08rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: .1rem;
}

.refund-fill .fill-info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.refund-fill .fill-info h2 {
  color: #9e9e9e;
  margin-bottom: .1rem;
  padding: 0 .3rem .05rem;
}

.refund-fill .fill-info .fill-wrapper {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .4rem;
}

.refund-fill .fill-info .fill-wrapper .each-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.refund-fill .fill-info .fill-wrapper .each-info:last-child {
  border-bottom: 0 none;
}

.refund-fill .fill-info .fill-wrapper .each-info > p {
  width: 1.4rem;
  font-weight: bold;
}

.refund-fill .fill-info .fill-wrapper .each-info input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
}

.refund-fill .next-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .5rem 0 .3rem;
}

.refund-fill .next-btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f384ad;
  font-size: .26rem;
  padding: .1rem 1rem;
  border-radius: 1rem;
  color: #fff;
}

/* refund-fill.html 退保证金原因及信息填写页 结束 */
/* refund-agreement.html.html 退款协议页 */
.refund-agreement {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2rem;
  z-index: 100;
}

.refund-agreement .refund-icon {
  width: 1.1rem;
  padding-top: .6rem;
}

.refund-agreement .agreement-content {
  margin: .2rem 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.refund-agreement .agreement-content img {
  width: 5.8rem;
}

.agreement-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .1rem 0 .2rem;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.agreement-wrapper label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: .1rem 0 .05rem;
}

.agreement-wrapper label input {
  margin-bottom: .05rem;
  margin-right: .1rem;
}

.agreement-wrapper a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ebebeb;
  font-size: .26rem;
  padding: .1rem 1rem;
  border-radius: 1rem;
  color: #4a4b4b;
  margin-top: .1rem;
}

.agreement-wrapper a.active {
  background-color: #f384ad;
  color: #fff;
}

/*蒙层*/
.bottom-input-mask {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  background: #000;
  /*display: none;*/
}

/*手机验证码弹出层*/
.phone-code-wrapper {
  z-index: 200;
  width: 4rem;
  height: 3.4rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -1.7rem;
  margin-left: -2rem;
  background-color: #fff;
  border-radius: .1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .6rem .2rem .2rem;
  line-height: 1.5;
  font-size: .24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.phone-code-wrapper .icon-close {
  position: absolute;
  width: .4rem;
  height: .4rem;
  top: .1rem;
  right: .1rem;
}

.phone-code-wrapper .icon-title {
  width: 1rem;
  position: absolute;
  top: -.6rem;
  left: 50%;
  margin-left: -.5rem;
}

.phone-code-wrapper .phone-section {
  text-align: center;
  margin: .1rem 0 .2rem;
}

.phone-code-wrapper .input-lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.phone-code-wrapper .input-lists input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: .7rem;
  height: .7rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: .4rem;
  border: 1px solid #cacaca;
  border-radius: .05rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.phone-code-wrapper .input-lists input.active {
  border: 1px solid #fa58a2;
}

/* refund-agreement.html.html 退款协议页 结束 */
/* refund-status.html 审核状态页 */
.refund-status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.refund-status.refuse img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*margin-left: .4rem;*/
}

.refund-status img {
  width: 1.85rem;
  margin-bottom: .5rem;
}

.refund-status > p {
  font-size: .3rem;
}

.refund-status > p.refuse-reason {
  font-size: .24rem;
  color: #818181;
  margin-top: .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .8rem;
  line-height: 1.6;
  text-align: center;
}

.refund-status .refund-lists {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem .2rem;
  width: 5.4rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px dashed rgba(252, 159, 188, 0.6);
  margin-top: .4rem;
  color: #9e9e9e;
}

.refund-status .refund-lists h2 {
  text-align: center;
  font-size: .28rem;
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: .1rem;
}

.refund-status .refund-lists .each-record {
  margin-bottom: .15rem;
}

.refund-status .refund-info-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .2rem .2rem;
  width: 5.4rem;
  line-height: 1.5;
  background-color: #fff;
  border: 1px dashed rgba(252, 159, 188, 0.6);
  margin-top: .3rem;
}

.refund-status .refund-info-wrapper .cur-apply-title {
  text-align: center;
  font-size: .28rem;
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: .1rem;
}

.refund-status .refund-info-wrapper .reason-info {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.refund-status .refund-info-wrapper .reason-info h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .06rem 0;
  color: #818181;
}

.refund-status .refund-info-wrapper .reason-info h2 i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: .2rem;
  height: .2rem;
  background-color: #cecece;
  margin-right: .1rem;
  margin-bottom: .03rem;
}

.refund-status .refund-info-wrapper .reason-info > p {
  color: #9e9e9e;
  font-size: .24rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .3rem;
}

.refund-status .refund-info-wrapper .refund-card-bank {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.refund-status .refund-info-wrapper .refund-card-bank h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .06rem 0;
  color: #818181;
}

.refund-status .refund-info-wrapper .refund-card-bank h2 i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: .2rem;
  height: .2rem;
  background-color: #cecece;
  margin-right: .1rem;
  margin-bottom: .03rem;
}

.refund-status .refund-info-wrapper .refund-card-bank > p {
  color: #9e9e9e;
  font-size: .24rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .02rem 0;
  padding-left: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.refund-status .refund-info-wrapper .refund-card-bank > p .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  white-space: nowrap;
}

/* refund-status.html 审核状态页 结束 */
/* refund-check.html 退款审核页 */
.all-refunds-lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.all-refunds-lists li {
  width: 100%;
  background-color: #fff;
  margin-bottom: .2rem;
  padding: .15rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  color: #9e9e9e;
  border-radius: .1rem;
  /*激活状态*/
  /*同意状态*/
  /*拒绝状态*/
}

.all-refunds-lists li .reason {
  color: #333333;
}

.all-refunds-lists li .each-icon {
  color: #e7799e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0rem;
  position: absolute;
  left: -.12rem;
  top: .08rem;
}

.all-refunds-lists li.active .status-icon {
  display: none;
}

.all-refunds-lists li.active .check-sum-wrapper {
  display: none !important;
}

.all-refunds-lists li.active .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-refunds-lists li.active .refuse-wrapper {
  display: none !important;
}

.all-refunds-lists li.agree-status .status-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/passed.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.all-refunds-lists li.agree-status .check-sum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-refunds-lists li.agree-status .btn-wrapper {
  display: none;
}

.all-refunds-lists li.agree-status .status-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-refunds-lists li.agree-status .refuse-wrapper {
  display: none;
}

.all-refunds-lists li.refuse-status .status-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/refuse.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.all-refunds-lists li.refuse-status .check-sum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-refunds-lists li.refuse-status .btn-wrapper {
  display: none;
}

.all-refunds-lists li.refuse-status .status-mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-refunds-lists li.refuse-status .refuse-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.all-refunds-lists li .left-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .1rem;
}

.all-refunds-lists li .left-wrapper .refund-user-info {
  padding: .1rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.all-refunds-lists li .left-wrapper .refund-user-info > p {
  margin-bottom: .1rem;
  position: relative;
}

.all-refunds-lists li .left-wrapper .refund-user-info > p.applier {
  font-size: .26rem;
  font-weight: bold;
}

.all-refunds-lists li .left-wrapper .check-sum-wrapper {
  padding: .1rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px dashed rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.all-refunds-lists li .left-wrapper .check-sum-wrapper > p {
  margin-bottom: .06rem;
  position: relative;
}

.all-refunds-lists li .left-wrapper .check-sum-wrapper > p.refuse-wrapper {
  display: none;
}

.all-refunds-lists li .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.all-refunds-lists li .btn-wrapper a {
  margin-bottom: .3rem;
  color: #fff;
  font-size: .26rem;
  padding: .05rem .4rem;
  border-radius: .1rem;
}

.all-refunds-lists li .btn-wrapper a.agree {
  background-color: #5cb85c;
}

.all-refunds-lists li .btn-wrapper a.refuse {
  background-color: #d84d48;
}

.all-refunds-lists li .status-icon {
  position: absolute;
  z-index: 101;
  right: 0;
  top: 0;
  width: 1.17rem;
  height: 1.17rem;
}

.all-refunds-lists li .status-icon img {
  width: 100%;
  height: 100%;
}

.all-refunds-lists li .status-mask {
  width: 100;
  height: 100%;
  z-index: 100;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: .1rem;
  opacity: .3;
  display: none;
}

/*蒙层*/
.bottom-check-mask {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  background: #000;
  /*display: none;*/
}

/*手机验证码弹出层*/
.check-confirm-wrapper {
  z-index: 200;
  width: 5rem;
  height: 4rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -2rem;
  margin-left: -2.5rem;
  background-color: #fff;
  border-radius: .1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.5;
  font-size: .24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.check-confirm-wrapper .title-close {
  position: relative;
  background-color: #f384ae;
  width: 100%;
  height: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  font-size: .26rem;
  color: #fff;
}

.check-confirm-wrapper .title-close .icon-close {
  position: absolute;
  width: .4rem;
  height: .4rem;
  top: .1rem;
  right: .1rem;
}

.check-confirm-wrapper .refuse-reason {
  width: 100%;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .2rem .2rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.check-confirm-wrapper .refuse-reason textarea {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: .1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.check-confirm-wrapper .btn-wrapper {
  height: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .5rem;
}

.check-confirm-wrapper .btn-wrapper a {
  color: #fff;
  padding: .05rem .4rem;
  font-size: .26rem;
  border-radius: .05rem;
}

.check-confirm-wrapper .btn-wrapper a.confirm {
  background-color: #ed87ac;
}

.check-confirm-wrapper .btn-wrapper a.cancel {
  background-color: #c8c6c7;
}

/* refund-check.html 退款审核页 结束 */
/* XX.html 某某页 */
/* XX.html 某某页 结束 */
